body, .title {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.bg-purple {
    background-color: purple;
    color : white;
}

.bandeau {
    background-image: url("../img/background.jpg");
    padding: 75px;
    text-align : center;
    color: white;
}

.corps {
    background-color: #F6F7F1;
    padding: 10px;
}

.form {
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 35px;
    width : 25%;
}

.littleTitle {
    margin: 10px;
}

form {
    vertical-align: central;
    border : 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.inputform {
    border-radius : 5px;
    width: 100%;
    padding: 5px;
}

.textareaform {
    border-radius : 5px;
    width: 98%;
    height: 150px;
}

.buttonform {
    background-color: green;
    border: 0;
    padding: 5px;
}

.slider {
    box-sizing: border-box;
    display: inline-block;
    width : 70%;
    padding: 5px;
}

.bottom {
    background-color: #DDDDDD;
}

.text {
    display: inline-block;
    width: 73%;
    vertical-align: top;
    padding: 5px;
}

.logochat {
    display: inline-block;
    width: 24%;
}

.logo {
    width: 100%;
    background-color: purple;
}

footer {
    color : white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

@media screen and (max-width: 1100px) {
    form, input, select, textarea {
        padding: 5px;
    }
    .intro, .corps, .bottom {
        padding: 0;
    }
    .form, .slider, .logochat, .text {
        width: 80%;
        padding: 0 10% 10px 10%;
    }

    footer {
        padding-left : 80%;
    }
}

@media screen and (max-width: 500px) {
    footer {
        padding-left: 70%;
    }
}